@model MVC_App.Models.Ingredients

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingredients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Main)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seasonings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seasonings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeInMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeInMin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
